@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Jungle</h1>
    <p>You are learning azure and you feel tired by now. Go drink a sprite!</a>.</p>
</div>
